.footer
  .footer-col
    .socials
      a(href="#") 
        i.fa.fa-facebook
      a(href="#") 
        i.fa.fa-twitter
      a(href="#") 
        i.fa.fa-vk
      a(href="#") 
        i.fa.fa-instagram
      a(href="#") 
        i.fa.fa-youtube
    p admin@acmachine.ru
    p.footer-col__phone +7 (911) 976-68-48
  .footer-col
    h3 Магазин
    ul
      li
        a(href="#") Корзина
      li
        a(href="#") Оформить заказ
  .footer-col
    h3 Подписаться
    .row
      input(type="text" placeholder="your@email.here")
      +button("Подписаться", "subscribe")(href="#")
