
.cards
  .card
    .card__col
      h2 Общепромышленные преобразователи
      p Для механизмов, приводов, конвейеров, упаковщиков, мельниц, компрессоров.
      .tags
        +tag("Векторное и скалярное управление")
        +tag("Обратная связь")
        +tag("ПИД")
        +tag("Перегрузка 150%")
      .btn-wrapper
        +button("Смотреть позиции", "card")(href="#")
    img(src="/assets/images/card1.png", alt="Общепромышленные преобразователи")
  .card
    .card__col
      h2 Насосные преобразователи
      p Для насосов и вентиляторов
      .tags
        +tag("Скалярное управление")
        +tag("Решения для групп насосов")
        +tag("ПИД")
        +tag("Перегрузка 120%")
      .btn-wrapper
        +button("Смотреть позиции", "card")(href="#")
    img(src="/assets/images/card2.png", alt="Насосные преобразователи")
  .card
    .card__col
      h2 Лифтовые преобразователи
      p Для лифтов, кранов, подъемников
      .tags
        +tag("Векторное управление")
        +tag("Векторное управление с датчиком")
        +tag("Перегрузка 200%")
      .btn-wrapper
        +button("Смотреть позиции", "card")(href="#")
    img(src="/assets/images/card3.png", alt="Общепромышленные преобразователи")
  .card
    .card__col
      h2 Опции для преобразователей
      p Платы расширения, платы энкодера, тормозные реле, резисторы, фильтры, дроссели.
      .btn-wrapper
        +button("Смотреть позиции", "card")(href="#")
    img(src="/assets/images/card4.png", alt="Общепромышленные преобразователи")