.container
  .banner
    .banner__col.banner-title
      h1 Преобразователи частоты LSIS из наличия.
      p Доставка с нашего склада по всей России.
    .banner__col.banner-info
      p Поможем с выбором, решение проблем, запчасти
      +button("+7 911 976 68 48", "phone")