.addition-info-wrapper
  .addition-info-wrapper__col.addition-info
    img(src="/assets/images/boxes.svg", alt="Boxes", width="60px", height="54px")
    h2 Все товары на складе
    p Утром деньги — вечером частотник! Мы продаем частотники только из наличия на складе в Санкт-Петербурге.
  .addition-info-wrapper__col.addition-info
    img(src="/assets/images/page.svg", alt="Page", width="46px", height="54px")
    h2 Физлица и юрлица
    p Работаем с юридическими и физическими лицами. Оплата по счету или квитанции.
  .addition-info-wrapper__col.addition-info
    img(src="/assets/images/spb.svg", alt="spb", width="75px", height="46px")
    h2 Склад в Санкт-Петербурге
    p Если вы в другом городе — не проблема. Соберем для вас заказ и отправим удобным вам способом.